<div class="posts">
    <div *ngIf="loading" class="loading">Loading posts...</div>
    <div *ngIf="!loading">
        <div *ngFor="let post of posts" class="post" [class.selected]="selectedPostId === post.id"
            (click)="onPostSelect(post.id)">
            <div class="post-header">
                <img class="avatar"
                    [src]="'https://ui-avatars.com/api/?name=' + username + '&background=1da1f2&color=fff'"
                    alt="User Avatar">
                <div class="post-meta">
                    <span class="username">{{username}}</span>
                    <span class="timestamp">· {{getRelativeTime()}}</span>
                </div>
            </div>
            <h3>{{post.title}}</h3>
            <p>{{post.body}}</p>
        </div>
    </div>
</div>